<!DOCTYPE html>
<html lang="en" ng-app="darts">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Darts</title>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-cloak ng-controller="baseController as base">
  <div ng-view></div>
  <div class="footer">
      <span ng-hide="base.isLinkable('cricket')">Cricket</span>
      <span ng-show="base.isLinkable('cricket')"><a href="#/cricket">Cricket</a></span>
      <span> | </span>
      <span ng-hide="base.isLinkable('301')">301</span>
      <span ng-show="base.isLinkable('301')"><a href="#/301">301</a></span>
  </div>

  <script src="app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</body>
</html>
