[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
.table {
  text-align: center;
}
.table th {
  text-align: center;
}
.turn {
  font-style: italic;
  text-decoration: underline;
}
.closed {
  background-color: rgba(36, 109, 33, 0.33);
  color: #FFF;
}
nav ul.affix {
  position: fixed;
  margin-top: 30px;
}
nav ul li {
  margin-right: 1em;
  font-size: 1.5em;
}
.footer {
  text-align: center;
}
.footer span {
  margin-right: 2em;
}
